@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #f5f5f5;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  font-family: "Playfair Display", serif; }

nav ul {
  list-style: none; }

nav ul li {
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
  letter-spacing: 2px; }

nav ul li a {
  text-decoration: none;
  color: #333; }
  nav ul li a:hover {
    color: black;
    font-weight: bold; }

.hero {
  text-align: center;
  padding: 100px 0;
  color: white;
  text-shadow: 0px 0px 10px black;
  background-image: linear-gradient(to right, rgba(51, 51, 51, 0.3), rgba(51, 51, 51, 0.3)), url("../images/salon1.png");
  background-size: cover;
  background-position: center 60%; }
  .hero h1 {
    font-size: 45px;
    margin-bottom: 20px; }
  .hero p {
    font-size: 20px;
    margin-bottom: 30px; }

.cta-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: transform 0.5s;
  cursor: pointer; }
  .cta-btn:hover {
    transform: scale(1.1); }

#uslugi {
  margin-top: 25px;
  text-align: center; }

.uslugi-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 50px; }
  @media (max-width: 768px) {
    .uslugi-grid {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 480px) {
    .uslugi-grid {
      grid-template-columns: 1fr; } }

img {
  width: 100%; }

.uslugi-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: transform 0.5s;
  cursor: pointer;
  margin-top: 25px;
  font-size: inherit;
  transition: transform 0.5s; }
  .uslugi-btn:hover {
    transform: scale(1.1); }
  .uslugi-btn:hover {
    transform: scale(1.1); }

.usluga {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center; }
  .usluga h3 {
    font-size: 24px;
    margin: 20px 0; }
  .usluga p {
    font-size: 16px; }

.modal.active {
  display: flex; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(141, 137, 137, 0.514); }
  .modal .info {
    width: 60%;
    height: 90%;
    background-color: #f5f5f5;
    padding: 30px 70px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    user-select: none; }
    @media (min-width: 1900px) {
      .modal .info {
        width: 40%; } }
    @media (max-width: 768px) {
      .modal .info {
        width: 100%;
        height: 95%;
        padding: 20px 50px; } }
    @media (max-width: 480px) {
      .modal .info {
        width: 100%;
        height: 95%;
        padding: 10px 20px; }
        .modal .info p {
          display: none; } }
    .modal .info .cena {
      display: flex;
      justify-content: space-between; }
    .modal .info .btn-container {
      width: 100%;
      display: flex;
      justify-content: end; }
      .modal .info .btn-container .close-btn {
        width: 30px;
        height: 30px;
        position: relative;
        display: grid;
        place-items: center; }
        .modal .info .btn-container .close-btn div {
          width: 100%;
          height: 3px;
          background-color: black;
          position: absolute; }
        .modal .info .btn-container .close-btn div:nth-of-type(1) {
          transform: rotate(45deg); }
        .modal .info .btn-container .close-btn div:nth-of-type(2) {
          transform: rotate(-45deg); }

#o-nas {
  background-color: #f5f5f5;
  padding: 50px; }
  #o-nas p {
    font-size: 16px; }

#kontakt {
  padding: 50px; }
  #kontakt form {
    margin-top: 20px; }
    #kontakt form label {
      display: block;
      margin-bottom: 10px;
      font-size: 16px; }
    #kontakt form input,
    #kontakt form textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px; }
    #kontakt form button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #333;
      color: #fff;
      text-decoration: none;
      letter-spacing: 2px;
      border: none;
      outline: none;
      border-radius: 5px;
      transition: transform 0.5s;
      cursor: pointer; }
      #kontakt form button:hover {
        transform: scale(1.1); }

#uslugi h2,
#o-nas h2,
#kontakt h2 {
  font-size: 2rem;
  padding: 20px 0; }

footer {
  background-color: #333;
  padding: 20px;
  text-align: center; }
  footer p {
    color: #fff;
    font-size: 14px; }

@media (min-width: 1900px) {
  section {
    width: 1500px;
    margin: 0 auto; } }

@media (max-width: 768px) {
  header {
    padding: 10px; }
  nav ul {
    text-align: center; }
    nav ul li {
      margin-right: 10px;
      padding: 0;
      letter-spacing: 1px; }
  .hero h1 {
    font-size: 30px; }
  .hero p {
    font-size: 16px;
    margin-bottom: 20px; }
  #o-nas,
  #kontakt {
    padding: 30px; } }
