@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&family=Playfair+Display&display=swap");

@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: $secondary-color;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  font-family: "Playfair Display", serif;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: $primary-color;
}
.hero {
  text-align: center;
  padding: 100px 0;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px black;
  background-image: linear-gradient(
      to right,
      rgba(51, 51, 51, 0.3),
      rgba(51, 51, 51, 0.3)
    ),
    url("../images/salon1.png");
  background-size: cover;
  background-position: center 60%;

  h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
@mixin base-btn($primary-color) {
  display: inline-block;
  padding: 10px 20px;
  background-color: $primary-color;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.cta-btn {
  @include base-btn($primary-color);
}
#uslugi {
  margin-top: 25px;
  text-align: center;
}
.uslugi-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 50px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}
img {
  width: 100%;
}
.uslugi-btn {
  @include base-btn($primary-color);
  margin-top: 25px;
  font-size: inherit;
  letter-spacing: 2px;
  border: none;
  outline: none;
}
.usluga {
  text-align: center;

  h3 {
    font-size: 24px;
    margin: 20px 0;
  }

  p {
    font-size: 16px;
  }
}
.modal.active {
  display: flex;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(141, 137, 137, 0.514);

  .info {
    position: relative;
    width: 60%;
    height: 90%;
    background-color: $secondary-color;
    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;

    @media (min-width: 1900px) {
      width: 40%;
    }
    @media (max-width: 768px) {
      width: 100%;
      height: 95%;
      padding: 20px 50px;
    }
    @media (max-width: 480px) {
      width: 100%;
      height: 95%;
      padding: 10px 20px;
      p {
        display: none;
      }
    }
    .cena {
      display: flex;
      justify-content: space-between;
    }
    .close-btn {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 20px;
      top: 20px;
      display: grid;
      place-items: center;

      div {
        width: 100%;
        height: 3px;
        background-color: black;
        position: absolute;
      }
      div:nth-of-type(1) {
        transform: rotate(45deg);
      }
      div:nth-of-type(2) {
        transform: rotate(-45deg);
      }
    }
  }
}

#o-nas {
  background-color: $secondary-color;
  padding: 50px;

  p {
    font-size: 16px;
  }
}

#kontakt {
  padding: 50px;

  form {
    margin-top: 20px;

    label {
      display: block;
      margin-bottom: 10px;
      font-size: 16px;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
    }

    button {
      display: block;
      padding: 10px 20px;
      background-color: $primary-color;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

#uslugi,
#o-nas,
#kontakt {
  h2 {
    font-size: 2rem;
    padding: 20px 0;
  }
}
footer {
  background-color: $primary-color;
  padding: 20px;
  text-align: center;

  p {
    color: #fff;
    font-size: 14px;
  }
}
@media (min-width: 1900px) {
  section {
    width: 1500px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  nav ul li {
    margin-right: 10px;
  }

  .hero {
    padding: 50px 0;

    h1 {
      font-size: 24px;
    }

    p {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  #o-nas,
  #kontakt {
    padding: 30px;
  }
}
